.gradient-custom {
  /* background: #f093fb;
  background: linear-gradient(
    to bottom left,
    rgb(113, 48, 103),
    rgb(219, 56, 102)
  ); */
  background: linear-gradient(30deg, #fc2d7a, #6e377b);
  overflow: hidden;
  overflow-y: auto;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}
.genderBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60%;
}
.genderLabel {
  font-weight: 400;
}
select {
  padding: 1.5vh !important;
  -webkit-appearance: listbox !important;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

}
@media screen and (max-width: 767px) {
    .cont_row {
    margin-top: 2vh !important;
    margin-bottom: 2vh;
    }
  }
  @media screen and (min-width:768px){
    .container{
        height: 100vh;
    }
  }

  .bs{
    box-shadow: inset 0 0 6px rgb(208, 208, 208);
  }